p {
    font-family: 'Lato', sans-serif;
}

.c-item{
height: 480px;
}

.c-img{
height:100% ;
object-fit: cover; 
}


.verde-c{
    background-color: #9AA653;
}

.azul-c{
    background-color: #2D7E90;
}

footer {
    background-color: black;
    color: gray;
    font-size: 12px;
    padding: 20px 20px;
    text-align: center;
}

.art-3{
    height: 300px;
}
#justificado {
    text-align: justify;
  }

.text-center{
  text-align: center;
}  


.icono-margin{
  margin-right: 15px;
}


.center-content{
  display: flex;
  justify-content: center;
}

.smaller-image {
  height: 125px;
  width: 125px;
}