.principal {
    width: 1000px;
    margin: 0 auto;
}

#izquierda {
    background-color: #042955;
    float: left;
    width: 300px;
    display: block;
}

#derecha {
    float: right;
    width: 700px;
    position: relative;
}

.list {
    padding: 0;
    list-style: none;
}

li {
    font-size: 30px;
    padding: 20px;
}

#content {
    position: absolute;
    width: 600px;
    left: 50px;
    top:70px;
}

.fondoTitulo {
    background-color: #042955;
    width: 600px;
    height: 30px;
    border-radius: 3px;
}

table {
    width: 60%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    font-size: 18px;
}

thead {
   text-align: center;
}