.principal {
    width: 1000px;
    margin: 0 auto;
}

#izquierda {
    background-color: #042955;
    float: left;
    width: 300px;
    display: block;
}

#derecha {
    float: right;
    width: 700px;
    position: relative;
}

.list {
    padding: 0;
    list-style: none;
}

li {
    font-size: 30px;
    padding: 20px;
}

#content {
    position: absolute;
    width: 600px;
    left: 50px;
    top: 20px;
}

.fondoTitulo {
    background-color: #042955;
    width: 600px;
    height: 30px;
    border-radius: 3px;
}

.cont-left{
    float: left;
    width: 150px;
}

.cont-right {
    float: right;
    width: 450px;
}

.name{
    float: left;
}
.email{
    float: right;
    margin-top: 110px;
}

.usuarioCursos li{
    font-size: 20px;
    padding: 10px;
    list-style: none;
}